@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ; 

*{ 
    box-sizing: border-box;
}

:root { 
    /* Colors  */

    --red :  hsl(0, 100%, 74%) ; 
    --green : hsl(154, 59%, 51%); 
    --blue : hsl(248, 32%, 49%); 
    --dark-blue : hsl(249, 10%, 26%)  ;
    --grayish-blue :hsl(246, 25%, 77%) ; 

    /* Typography */

    --fz-normal : 16px;  

    --ff-poppins : "Poppins", sans-serif;; 
    --fw-small : 400 ; 
    --fw-normal : 500 ; 
    --fw-bold : 600 ; 
    --fw-extra-bold : 700 ; 
    
    /* Borders */

    --radii : 1rem ; 
    --radii-small : 0.5rem;
    /* Shadows  */

    --bsh-main : 0px 8px 4px 0px rgba(34, 60, 80, 0.6);
    --bsh-btn  :0px 3px 2px 0px rgba(34, 60, 80, 0.6)  ; 
}   

body{
    font-family: var(--ff-poppins);
    font-size: var(--fz-normal);

    margin: 0;
    
    background:url(./images/bg-intro-mobile.png);
    background-color:var(--red);
}



.signup__content { 

    min-height: 100vh;
    
    

    display: flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;

   

}

.slogan{ 
    height: 100%;

    display: flex;
    flex-direction: column;

    color:white ;
    text-align: center;

    white-space: pre-line;
}

.slogan__title{ 
    margin: 0;
    font-size: 32px;
    font-weight: var(--fw-extra-bold);
    line-height: 32px;
   
}


.signup__box{ 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem ;

    padding: 2rem;
}

.promo{ 
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;


    background-color: var(--blue);
    border: none;
    border-radius: var(--radii);
    box-shadow: var(--bsh-main) ; 


    font-size: var(--fz-normal);
    color: white;
    text-align: center;
    
    padding: 1rem;

    cursor: pointer;
}
.promo p { 
    font-weight: var(--fw-bold);
    margin: 0;
}

.forms__box{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background: white;
    box-shadow: var(--bsh-main);
    
    border-radius: var(--radii);
    
    padding: 1rem;

}

.signup__text-field {
    width: 100%;


    display: flex;
    flex-direction: column;
    gap: 0.1rem;

}


.text-field__input, .text-field__input--error { 
    width: 100%;
    
    border-radius: var(--radii-small);

    padding: 1rem;
    
    font-weight: var(--fw-bold);
    cursor: unset;
}

.text-field__input{ 
    border: 1px solid var(--grayish-blue);   
}

.text-field__input:focus{ 
    
    border-color: var(--blue);
    
    outline: none;
}

.text-field__input--error{ 
    border-color: var(--red);
    
    background: url(./images/icon-error.svg)  ; 
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;

    color :  var(--red)

}
.text-field__input--error:focus{ 
    border-color: var(--red);

    background-repeat: no-repeat;
    background-position: right 1rem top 50%;

    color :  var(--red)
}

.text-field__input--error::placeholder{ 
    color: transparent; 
}
[type="email"].text-field__input--error::placeholder   {
   color : var(--red) ; 
}
.text-field__message{ 
    text-align: right;
    color: var(--red) ; 
    font-size: 12px;
}

.text-field__message--hidden{
    display: none;
}

.signup__btn{ 

    width: 100%;

    
    background-color: var(--green);
    border:none ; 
    border-radius: var(--radii-small);

    box-shadow: var(--bsh-btn);


    padding: 1rem;

    color: white; 
    text-align: center;
    text-transform:uppercase;
    font-weight: var(--fw-extra-bold);
    font-size: var(--fz-normal);

    cursor: pointer;
    
}

.signup__footer{ 
    width: 100% ; 

    
    color: var(--grayish-blue);
    font-size: 12px;
    text-align: center;
    font-weight: var(--fw-small);
}

.signup__footer span{ 
    color : var(--red)
}

@media (min-width : 1440px ) {
        body { 
            background:url(./images/bg-intro-desktop.png);
            background-color:var(--red);
        }

        .signup__content{ 
            flex-direction: row;
            justify-content: center;
        }
        .slogan{ 
            width: 40%; 
            text-align: left;
            padding: 2rem ; 
            
        }
        .slogan__title{ 
            font-size: 50px;
            line-height: normal;
            
        }
        .signup__section{ 
            width: 30%;
        }
        .signup__box{ 
            width: 100%;
            padding: 0;
        }
        
        .promo{ 
            flex-direction:row;

            border-radius: var(--radii-small);
            
            gap: 0px;
        }
        .promo p{ 
            margin: 0 5px 0 0;
        }
        .forms__box{
            width: 100%;
        }
        
        
}